:root {
  --main_color: #ffffff;
  --primary_color: #000000;
  --secondary_color: #ff6b08;
  // --main_pink_color: #ffa5ba;
  // --stripe_color: #e1e1e1;
  // --title-color: #d41342;
  // --secondary_text_color: #907e82;
  // --background_cafe: #f0d1a5;
  // --icon_color: #fea5bb;
  // --background_pink: #ffb8ca;
  // --background_container: #fff5f6;
  // --background_green: #c2e297;
  // --background_form: #e17992;
  // --button_text_color: #ecebeb;
}
