<section class="movies">
  <div class="container">
    <ul class="movies_list">
      <li class="movies_list__item">
        <div class="movie_card">
          <img
            class="movie_card__image"
            src="./images/movies/Rectangle5.jpg"
            alt=""
          />
          <p class="movie_card__info movie_card__name">Greyhound</p>
          <p class="movie_card__info movie_card_ganre">Drama, Action | 2020</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="paginator"></div>
  </div>
</section>
